.corpo {
  width: 100%;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  display: flex;
}

.sec {
  width: 50%;
  padding-top: 5%;
  padding-left: 5%;
  height: 822px;
}

.secti {
 padding-top: -5%;
  width: 50%;
}

.find {
  padding-left: 20%;
  font-size: 72px;
}

.type {
  padding-left: 20%;
  padding-top: 10%;
  font-size: 32px;
}

.botao {
  font-weight: bold;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 23px;
  border-radius: 11px;
  height: 66px;
  width: 220px;
  border: none;
  color: black;
  background-color: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  padding-bottom: 2%;
}
.make {
  padding-top: 8%;
  padding-left: 10%;
}
.banner {
  height: 655px;
}
.team{
    padding-left: 70%;
    padding-top: 10%;

}
