.co {
  width: 100%;
  height: 100vh;
  background: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: var(--shadow-2);
  border-radius: 20px;
  background-color: var(--color-third);
  display: flex;
  height: min-content;
}

.teste1 {
  border-radius: 20px;
  width: 100%;
  background-color: blue;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}

.teste2 {
  border-radius: 20px;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}

.nomegeracao {
  display: flex;
}

.habilidades {
  border-radius: 8px;
  background-color: var(--color-dark);
}

.points {
  border-radius: 8px;
  display: flex;
  background-color: var(--color-dark);
}

.nome {
  color: var(--color-dark);
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--h1) !important;
}

.generation {
  color: var(--color-white);
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--h1) !important;
}

.abilidades {
  color: var(--color-third);
  font-weight: 400;
  font-size: var(--h4);
}

.city {
  color: var(--color-white);
  font-weight: 400;
  font-size: var(--h4);
}

.poderes {
  border-radius: 8px;
  display: flex;
  gap: 15%;
  background-color: var(--color-dark);
}

.block {
  display: block;
  text-transform: capitalize;
}
