.container {
    background: var(--color-dark);
    color: var(--color-white);
    min-height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: var(--h1);
    font-weight: 500;
    padding-bottom: var(--s4);
    border-bottom: 1px solid var(--color-white);
}
