.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    place-items: center;
    gap: 20px;
}

span {
    font-weight: 700;
    font-size: 2.1875rem;
}

p {
    font-size: 2.1875rem;
}

.texto {
    margin: 73px 0 34px;
    width: 100%;
    text-align: center;
}

.input {
    width: 100%;
    margin-bottom: 18px;
    border: 1px solid burlywood;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
}
